
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 100px;
    height: auto;
}

header {
    background-color: #333;
    padding: 20px;
    height: 120px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    font-family: Arial, sans-serif;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 10px;
}

/*Bienvenue sur Chronosavoir*/
.bienvenue{
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

/* Styles pour le lien "Article du jour" */
.article-link {
    display: block;
    text-align: center;
    font-size: 2.5em;
    color: #333;
    background-color: #ffd700;
    padding: 10px 20px;
}

.article-link:hover {
    background-color: #ffcc00;
}

/* Styles pour la section "Catégories d'articles" */
.articles {
    background-color: #f2f2f2;
    padding : 50px;
}

.articles h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
}

.articles ul {
    list-style: none;
    padding: 0;
}

.articles li {
    margin-bottom: 10px;
    font-size: 1.8em;
}

.articles a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

.articles a:hover {
    color: #ff4500;
}

/* Styles pour la section "Qui sommes nous ?" */
.presentation {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

.presentation h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.presentation p {
    font-size: 1.2em;
    line-height: 1.6;
}
