
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 20px;
    height: 120px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: auto;

}

nav {
    font-family: Arial, sans-serif;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    background-color: #555;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 10px;
}

#liens{
    display: block;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

.article-link {
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    padding: 10px 20px;
}

.article-link:hover {
    background-color: #555;
    color: white;
    border-radius: 5px;
}